/* ===== SETUP =====*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    padding: 0 200px;
}
@media (max-width: 1000px){
    .container{
        padding: 0 4rem;
    }
}
@media (max-width: 500px){
    .container{
        padding: 0 1rem;
    }
}


/* more btn */
.more{
    font-size: 1.25rem;
    margin: 0px;
    padding: 0px;
    transition: color 0.2s ease;
    font-size: clamp(0.5rem, 2vw, 1rem);
}

.more:hover{
    color: rgba(0, 0, 255, 0.805);
}


/* ADS */
/* main ads */
.main-ads-container{
    text-align: center;
    background-color: rgb(239, 239, 239);
    padding: 3.5rem;
    font-size: 1.25rem;
}

/* aside ads */
.aside-ad-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    
}

.aside-ad-box{
    background-color: rgb(239, 239, 239);
    text-align: center;
    width: 12em;
    height: 18em;
    align-content: center;
    justify-content: center;
    font-size: 1.25rem;
}







/* ===== MAIN ===== */
main{
    padding-top: 5rem;
}

main .container{
    margin: 4rem 0px;
}

/* HEADER */
header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .container{
    margin: 0px;
}

/* id top-bar */
header #top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#aqora-logo{
    width: 8rem;
}






/* REGISTER */
.register{
    font-size: 1rem;
}

/* login */
#login-btn{
    border-radius: 20px;
    background-color: #AA2828;
    padding: 10px 25px;
    color: white;
}
#login-btn:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

/* signup */
#signup-btn:hover{
    text-decoration: underline;
}






/* navbar */
.navbar{
    font-size: 25px;
    background-color: rgb(246, 246, 246);
    border-bottom: 3px rgb(221, 221, 221) solid;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 0.65em;
}

.navbar li{
    padding: 0.5em 1em;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.navbar a{  
    color: rgb(130, 130, 130);
    width: 100vw;
}

.navbar li:hover{
    background-color: rgb(230, 230, 230);
    text-decoration: underline;
    text-decoration-color: rgb(173, 172, 172);
}








/* MAIN */
/* FEATURED */
#featured .container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px){
    #featured .container{
        grid-template-columns: 1fr;
    }
}

/* featured, hero */
#hero img, h2, p{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

#hero h2{
    text-align: justify;
    font-size: clamp(1.4rem, 2vw, 2rem);
}

#hero p{
    color: rgb(103, 103, 103);
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    text-align: justify;
}


/* featured, hotnews */
#hotnews h1{
    margin: 0px;
    padding: 0px;
    font-size: min(2rem, 5vw);
}

.aside-container{
    display: flex;
    margin: 0.4em 0px;
}

.aside-img{
    width: 10rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.aside-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotnews-headline{
    width: 100%;
    padding-left: 10px;
    text-align: justify;
    font-size: clamp(0.5rem, 3vw, 1.3rem);
}

.aside-container a{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}



/* RECENT */
#recent{
    margin: 0px;
    padding: 0px;
}

#recent h2{
    font-size: min(2rem, 5vw);
}

#recent h3{
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    margin: 0px;
    padding: 0px;
}

#recent-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
@media (max-width: 1200px){
    #recent-container{
        grid-template-columns: 1fr;
    }
}

.recent-publish-container{
    display: flex;
    margin: 20px 0px;
}

.recent-img{
    width: 10rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.recent-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-headline{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    max-width: 80%;
}

.recent-headline p{
    color: rgb(103, 103, 103);
    font-size: 0.55em;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
}




/* RECOMMENDATION */
#recommendation h2{
    margin-bottom: 20px;
    font-size: min(2rem, 5vw);
}

/* recommendation container */
#recommendation-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 0.5em;
}
@media (max-width: 1200px){
    #recommendation-container{
        grid-template-columns: 1fr;
    }
}

/* recomenndation publishes */
#recommendation-publishes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
@media (max-width: 1000px){
    #recommendation-publishes{
        gap: 0.5em;
        display: flex;
        overflow-x: auto;
    }
}

/* recommendation-box */
.recommendation-box{
    max-width: 100%;
}

.recommendation-box img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.recommendation-box h4{
    margin: 0px;
    padding: 0px;
    text-align: justify;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}




/* EXPLORE */
#explore h2{
    margin-bottom: 20px;
    font-size: min(2rem, 5vw);
}

/* explore container */
#explore-container{
    display: flex;
}

/* explore publishes */
#explore-publishes{
    display: flex;
    overflow-x: auto;
    gap: clamp(0.6rem, 2vw, 0.8rem);
}

/* explore-box */

.explore-box img{
    max-width: 15rem;
    margin: 0px;
    padding: 0px;
}
@media (max-width: 1200px){
    .explore-box img{
        max-width: 8rem;
    }
}

.explore-box h4{
    margin: 0px;
    padding: 0px;
    text-align: justify;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}




/* FOOTER */
footer{
    background-color: #AA2828;
    color: white;
    padding: 40px 0px;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
@media (max-width: 1000px){
    footer .container{
    grid-template-columns: 1fr;
}
}

footer .container a{
    color: rgba(239, 239, 239, 0.98);
}
footer .container a:hover{
    color: rgba(239, 239, 239, 0.799);
    text-decoration: underline;
    text-decoration-color: rgba(239, 239, 239, 0.799);
}

footer .container h3{
    margin: 7px 0px;
    padding: 0px;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}

footer .container p{
    font-size: clamp(0.8rem, 2vw, 1rem);
}

/* social media */
.social-media-footer-container{
    display: flex;
    gap: 0.5rem;
}

.social-media-footer-container img{
    width: 1rem;
}

.social-media-footer-container p{
    align-content: center;
}

/* category */
#category-footer-container{
    display: flex;
    flex-direction: column;
}

/* copyright */
#copyright-footer{
    margin: 20px 0px;
}

#copyright-footer h5{
    margin: 0px;
    padding: 0px;
}